<div id="<%= dom_id product %>" class="col-sm mb-4">
  <div class="card" style="width: 18rem;">
    <h1 class="display-1 text-center"><%= product.img %></h1>
    <div class="card-body">
      <h5 class="card-title"><%= product.name %> <small class="text-secondary"><%= product.code %></small></h5>
      <p class="card-text"><%= number_to_currency(product.price, unit: "€") %></p>

      <%= button_to "Add to cart", add_cart_path, method: :post, params: { product_id: product.id }, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
